<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>CRUD de Clientes</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <script src="script.js"></script> -->
</head>

<body>
  <div class="container">
    <h1>Adicionar nova venda</h1>
    <form action="/vehicles" method="post">
      <div class="container-row">
        <label for="name">Nome:</label>
        <% if (obj) { %>
          <input type="text" id="name" value="<%= obj.name %>" name="name">
        <% } else { %>
          <input type="text" id="name" name="name">
        <% } %>
      </div>
      <div class="container-row">
        <label for="value">Valor:</label>
        <% if (obj) { %>
          <input type="text" id="value" value="<%= obj.value %>" name="value">
        <% } else { %>
            <input type="text" id="value" name="value">
        <% } %>
      </div>
      <div class="container-row">
        <label for="brand">Marca:</label>
        <select id="brand" name="brand">
          <option value="Fiat" <% if (obj.brand == 'Fiat') {%> <%= %> selected <% } %> >Fiat</option>
          <option value="Volvo" <% if (obj.brand == 'Volvo') {%> <%= %> selected <% } %> >Volvo</option>
          <option value="Mercedes" <% if (obj.brand == 'Mercedes') {%> <%= %> selected <% } %> >Mercedes</option>
          <option value="Missan" <% if (obj.brand == 'Missan') {%> <%= %> selected <% } %> >Missan</option>
        </select>
      </div>
      <div class="container-row">
        <button type="submit"> <%= label %></button>
      </div>
      <% if (obj) {%>
        <input type="hidden" id="hiddenId" name="hiddenId" value="<%= obj._id %>">
      <% } %>
    </form>
  </div>
</body>

</html>